/* main styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
}
body {
    background-color: aliceblue;
}
ul {
    list-style: none;
}
li, a {
    text-decoration: none;
    color: black;
}
/* title styles */
.title {
    font-size: 2.5em;
    text-align: center;
    color: rgb(81, 37, 98);
    font-weight: bold;
}
.main_list {
    margin-bottom: 25px;
}
/* list styles */
.style_list {
    margin-left: 15px;
    margin-bottom: 25px;
}
.sup_title {
    text-decoration: underline;
}

.paragaf {
    width: 50rem;
}

.btn {
    background-color: #42283e; /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}